<html>
    <head>
        <title>Vitor Bot</title>
        <script type="module" href="/scripts/main.js"></script>
        <script type="module" href="/scripts/logHistoryService.js"></script>
        <script type="module">
                import {indexCtrl} from "/scripts/main.js"
                //get log history then subscribe to web socket messages
                document.addEventListener("DOMContentLoaded", async ()=>{
                    try{
                        const element = document.querySelector("#content");
                        await indexCtrl.getLog(element);
                        indexCtrl.connectToWebSocketServer(element);
                    }
                    catch(error){
                        console.log("Error connecting to server")
                    }
                });
        </script>
        <link rel="stylesheet" type="text/css" href="/styles/main.css">
    </head>
    <body class="messageLog">
        <textarea id="content" rows="30" cols="60" class="centered"></textarea>
    </body>
</html>